:root {
    /* Primary colors */
    --violet: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);

    /* Typography */
    --poppins: 'Poppins', sans-serif;
    --open-sans: 'Open Sans', sans-serif;

    --fz: 1rem;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-image: url(./images/bg-mobile.svg);
    background-color: var(--violet);
    font-family: var(--poppins);
    color: white;
    margin: 1rem;
}

img{
    max-width: 100%;
}

a {
    display: block;
    text-decoration: none;
    color: white;
}

.main-container {
    margin: 2rem;
    max-width: 900px;
}

.logo-container {
    width: 50%;
}

.content {
    margin-top: 3rem;
}

@media (min-width: 768px) {
    
    body {
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content {
        display: grid;
        grid-template-columns: 3fr 2fr;
    }

}

.info {
    margin-top: 3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

@media (min-width: 768px) {
    .info {
        margin-top: 2rem;
        text-align: left;
        margin-left: 2rem;
    }
}

.info .main-heading {
    font-size: 1.5rem;
}

.info-p {
    font-family: var(--open-sans);
}

.btn {
    background-color: white;
    color: var(--violet);
    width: 70%;
    margin: 0 auto 2rem auto;
    padding: 0.5rem;
    border-radius: 28px;
    box-shadow: 1px 2px 4px 0px hsl(300deg 4% 4% / 53%);
}

@media (min-width: 768px) {

    .btn {
        width: 40%;
        margin: 0;
        text-align: center;
    }
}

.icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 2rem;
}

@media (min-width: 768px) {
    .icons {
        justify-content: end;
        padding-bottom: 0;
    }
}

.icon {
    padding: 0.5rem;
    border: 1px solid white;
    border-radius: 50%;
}